.iconNav {
    animation: bgs 5s infinite;
}
  
@keyframes bgs {
    0% {
        fill: black;
    }
    20% {
        fill: #fccf03;
    }
    40% {
        fill: #03fc2c;
    }
    60% {
        fill: #f50041;
    }
    80% {
        fill: blueviolet;
    }
    100% {
        fill: black; /* Volvemos al color inicial para cerrar el ciclo */
    }
}